<div>
    Todo listo para trabajar con web chat!
</div>
<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>
 {{!--  lado cliente corre esto entra en ruta publica --}}